<div class="loginpanel">
    <p-panel id="logincontent" header="Please Sign in">
        <form action="#">
            <input id="logincontent" type="text" pInputText placeholder="Username" required #usernameinput/><br>
            <input id="logincontent" type="password" pPassword placeholder="Password" [feedback]=false required #passwordinput/><br>
            <button id="button" pButton type="submit" label="Login" (click)="loginclick(usernameinput)"></button>
        </form>
    </p-panel>
</div>
<p-dialog header="Login Failed" [(visible)]="display" [modal]="true" [responsive]="true" [style]="{width: '350px', minWidth: '200px'}" [minY]="70" [maximizable]="true" [baseZIndex]="10000">
    Invalid Username/Password
</p-dialog>