<div class="loginpanel">
        <p-panel id="logincontent" header="Please Sign in">
          <form action="#">
            <input id="logincontent" type="text" pInputText placeholder="Username" required #usernameinput/><br>
            <input id="logincontent" type="password" pPassword placeholder="Password" required #passwordinput/><br>
            <button id="button" pButton type="submit" label="Login" (click)="loginclick(usernameinput)"></button>
          </form>
        </p-panel>
          </div>
     