a{
    margin-left: 1%;
}
.subpanel{
    margin-top:-12%;
    margin-left: -.8%;
    width: 20%;
    max-width: 20%;
    position: fixed;
}
input{
    width: 100%;
}
.select{
    width: 100%;
}
button{
    margin-left: 3%;
}
.table{
    width: 80%;
    margin-left:21%;
}
  