a {
    margin-left: 1%;
}

.subpanel {
    margin-top: 0%;
    margin-left: -.8%;
    width: 20%;
    max-width: 20%;
    position: fixed;
}

input {
    width: 100%;
}

.select {
    width: 100%;
}

button {
    margin-left: 3%;
}

.table {
    width: 80%;
    margin-left: 20.5%;
    margin-top: -1%;
}

.tabledropdown {
    width: 40%;
}

.chart {
    width: 80%;
    height: 80%;
    margin-top: 1%;
}

.container {
    margin-left: 20.5%;
}

.container button {
    width: 10%;
}